# **Data Types and Formats**

# **Types of Data**

How information is stored in a
DataFrame or a python object affects what we can do with it and the outputs of
calculations as well. There are two main types of data that we're explore in
this lesson: numeric and text data types.

Pandas and base Python use slightly different names for data types. More on this
is in the table below:

| Pandas Type | Native Python Type | Description |
|-------------|--------------------|-------------|
| object | string | The most general dtype. Will be assigned to your column if column has mixed types (numbers and strings). |
| int64  | int | Numeric characters. 64 refers to the memory allocated to hold this character. |
| float64 | float | Numeric characters with decimals. If a column contains numbers and NaNs(see below), pandas will default to float64, in case your missing value has a decimal. |
| datetime64, timedelta[ns] | N/A (but see the [datetime] module in Python's standard library) | Values meant to hold time data. Look into these for time series experiments. |
[datetime]: http://doc.python.org/2/library/datetime.html

## **Checking the format of our data**

## **Working With Integers and Floats**

# **Working With Our Survey Data**

> ## **Challenge - Changing Types**
>
> Try converting the column `plot_id` to floats using
>
> ```python
> surveys_df.plot_id.astype("float")
> ```
>
> Next try converting `weight` to an integer. What goes wrong here? What is Pandas telling you?
> We will talk about some solutions to this later.

## **Missing Data Values - NaN**

### **Where Are the NaN's?**

## **Writing Out Data to CSV**